.container {
  padding: 18px;
  box-shadow: var(--box_shadow);
  background-color: #f5f8f9;
  margin-top: 50px;
  border-radius: 20px;
  height: 100%;
}

.avatar-hexagon {
  position: relative;
  top: -50px;
  width: 70px;
  height: 70px;
  position: relative;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  border-radius: 8px;
}

.sec-2 {
  margin: 0 42px;
  margin-top: -24px;
}

.text {
  margin-top: -3px;
}
