.container{
    padding: 18px;
    box-shadow: var(--box_shadow);
    background-color: #fff;
    border-radius: var(--border_radius);
    width: 43%;
    margin-top: 20px;
}

.sec-2{
    margin: 0 17px;
    margin-top: -24px;
}

.text{
    margin-top: -3px;
}

@media only screen and (max-width: 1020px) {
    .container{
        width: 94%;
        justify-content: flex-start;
    }
}
