@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/estedad/Estedad-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/estedad/Estedad-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/estedad/Estedad-Light.woff2") format("woff2");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 200;
  src: url("../../public/fonts/estedad/Estedad-ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/fonts/estedad/Estedad-Thin.woff2") format("woff2");
}

body {
  margin: auto;
  background-color: #f5f6f7;
  font-family: Estedad;
  color: var(--text);
}

:root {
  --theme: #304cfd;
  --border_radius: 13px;
  --box_shadow: 0 2.5rem 3.125rem rgba(103, 118, 128, 0.1);
  --text: #44566c;
  --main_padding: 10px 25px;
}

/*! Global Css Start */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.cursor-pointer {
  cursor: pointer;
}

/** Margin Start */
.mt-1 {
  margin-top: 2rem;
}

/** Margin End */

/** Flex Start */

.d-flex {
  display: flex;
}

.flex-dir-column {
  flex-direction: column;
}

.flex-dir-column-reverse {
  flex-direction: column-reverse;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

/** Flex End */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.8;
}

.title-h1 {
  font-size: 2rem;
}

.title-h2{
  font-size: 1.7rem;
}

.title-line{
  position: relative;
}

.title-line::before {
  content: "";
  background-color: #304cfd;
  border-radius: 0.5rem;
  height: 0.3125rem;
  position: absolute;
  margin-bottom: -10px;
  width: 3.125rem;
  z-index: 1;
}

.line-heigth-0{
  line-height: 0 !important;
}

a{
  text-decoration: none;
  color: var(--text);
}

.swiper{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  border-radius: 20px;
}
