.container{
    width: 40px;
    color: #fff;
    position: fixed;
    top: -1.5px;
    left: 2px;
    z-index: 9999;
}

.current-lang{
    background-color: #313131;
    height: 20px;
    border-radius: 3px;
    z-index: 2;
}

.menu{
    position: relative;
    background-color: #313131;
    border-radius:0 0 3px 3px;
    top: -56px;
    transition: all 0.2s;
}   

.menu a {
    color: #fff;
    text-decoration: none;
}