.container{
    position: relative;
    width: 400px;
}

.title{
    position: relative;
}

.sec-1{
    padding: var(--main_padding);
    margin-bottom: 20px;
}

.sec-2{
    background-color: #f5f8f9;
    padding: var(--main_padding);
}


@media only screen and (max-width: 1330px) {
    /* .container{
        width: 100%;
    } */
}

@media only screen and (max-width: 1020px) {
    .sec-2{
        flex-direction: column;
    }

    .box-parent{
        flex-direction: column;
    }
    
}
