.container{
    position: relative;
}

.title{
    position: relative;
}

.sec-1{
    padding: var(--main_padding);
    margin-bottom: 20px;
}

.sec-2{
    background-color: #f5f8f9;
    padding: var(--main_padding);
}
